.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  background-color: #D62263;
}
.btn{
  margin-top: 70px;
  height: 50px;
  width: 150px;
  border: 2px solid burlywood;
  border-radius: 10px;
}
.q3{
  margin-left: 200px;
}
.questions{
  margin-left: -1166px;
  font-size: 1.2rem;
}
h1{
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.questions ul li{
  list-style-type: none;
  margin-left: -150px;
}
.btn a{
  text-decoration: none;
  color: brown;
  font-size: 1.2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
